@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

header {
  text-align: right;
  background-color: white;
  height: 50px;
}

header h1 {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.header-title {
  float: left;
}

.header-list {
  list-style: none;
  padding-top: 1.5%;
}

.header-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
}

.s-top-container {
  text-align: center;
  height: 200px;
  background-image: url(/Users/ryonakai/coachtech/コーポレイトサイト/img/mv.png);
}

.s-top-container h1 {
  color: white;
  font-size: 30px;
  padding-top: 5%;
}

.service-contents {
  padding-top: 100px;
  width: 100%;
  color: #000;
}

.service-contents p {
}

.service-contents h3 {
  font-size: 30px;
  text-align: left;
  padding: 20px;
}
.service-content {
  display: flex;
  padding-left: 10%;
  width: 100%;
}

.service-img {
  height: 250px;
  justify-content: space-around;
}

hr {
  width: 80%;
  margin-left: 10%;
  border-color: #000;
}

.contact {
  background-color: #f5f6f9;
  height: 250px;
  text-align: center;
  padding: 30px;
}

.contact-title {
  font-size: 32px;
  font-weight: bold;
  padding-top: 40px;
}

.contact-p {
  padding-top: 25px;
  padding-bottom: 40px;
}

.contact-btn {
  background-color: #cd0323;
  color: white;
  border: none;
  transition: all;
}

.contact-btn:hover {
  background-color: #e06169;
}

.contact-btn {
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  width: 300px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

footer {
  background-color: black;
  text-align: right;
  height: 50px;
}

.footer-list {
  font-size: 24px;
}

footer a {
  color: white;
}

.copyright {
  color: white;
  float: left;
  padding-top: 15px;
  padding-left: 5px;
}

.footer-list {
  list-style: none;
  padding: 15px;
  text-align: right;
}

.footer-list a {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 4px;
    background-color: black;
    transition: 0.8s;
  }

  #hamburger span:nth-of-type(1) {
    top: -5px;
  }

  #hamburger span:nth-of-type(2) {
    top: 8px;
  }

  #hamburger span:nth-of-type(3) {
    top: 21px;
  }

  .header-list {
    display: none;
  }
}
